.container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 110px;
    align-content: center;
    justify-content: center;
    background-color: black;
    align-items: center;
}

.containerLogo{
    width: 100%;
    display: grid;
    grid-template-rows: 260px 50px;
    grid-template-columns: auto;
    gap: 4px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.logo{
    width: 520px;
    height: 280px; 
}

.titulo2{
    color: white;
    font-size: 20px;
    font-family: var(--fontTitulo1);
}

.containerCad{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.arco{
    height: 140px;
}

@media (max-width: 800px){
    .container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .logo{
        width: 300px;
        height: 300px;
    }

    .arco{
        display: none;
    }
}
@media (min-width:800px) and (max-width: 1400px){
    .container{
        display: grid;
        grid-template-columns: 300px 400px;
        grid-template-rows: auto;
    }

    .logo{
        width: 300px;
        height: 300px;
    }
   
}