.container{
    display: grid;
    grid-template-rows: auto 150px auto;
    grid-template-columns: auto;
    align-items: center;
}

div{
    display: grid;
    align-items: flex-start;
}

.contHeader{
    margin-bottom: 100px;
}

.conTitulo{
    width: 100%;
    display: grid;
    justify-items: center;
}

h1{
    font-size: 50px;
}

section{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-items: center;
}




