/* .mensagemDelete{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(128, 0, 119, 0.932);
  font-family: var(--fontTitulo1);
  color: aliceblue;
  border-radius: 10px;
} */
.caixaSashay{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: purple;
}
.caixaShantay{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: purple;
}
.caixaDontLeaveME{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.deletar{
  width: 150px;
  height: 35px;

  background: linear-gradient(90.27deg, rgb(253, 78, 139) 0.71%, #FF7F5E 99.87%, rgb(232, 135, 193));
  background-size: 300% 300%;
  animation: colors 1s ease infinite;
   
  border: 0px;
  border-radius: 15px; 
  color: white;

  transition: filter 300ms;
}

@keyframes colors {
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}

.deletar:hover{
  filter: brightness(1.3)
}
.buttonDelete{
  display: flex;
  flex-direction: row;
  justify-content: center;
}