.card{
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 230px;
  border-radius: 16px;
  flex: none;
}
.card .image img{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

img{
  width: 200px;
  height: 300px;
  margin-left: 5px
}
.card .info{
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card .info span{
  display: block;
  text-align: center;
  color: #1e1e1e;
  border-radius: 10px;
}
.card .info .name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #00a8fb;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card span img {
  height: 3vh;
  width: 3vh;
}

.card .notes{
  background: blue;
}

.btn{
  margin: 10px;
  text-align: center;
}

.card button{
   border:none;
   padding: 8px;
   font-size: 15px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
   border-radius: 10px;
   position: relative;
   box-sizing: border-box;
   cursor: pointer;
   transition: all 400ms ease;
   background: linear-gradient(90.27deg, rgb(253, 78, 139) 0.71%, #FF7F5E 99.87%, rgb(232, 135, 193));   
}

button:hover{
  background: rgb(241, 68, 129);
  color: rgb(20, 23, 22);
  box-shadow: inset 0 0 0 3px #030303;
}
