.container{
    width: 500px;
    height: 500px;
}

.form{
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto auto auto auto auto;
    gap: 18px;

    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.input{
    width: 100%;
    height: 40px;
    border: 3px solid #FD4E8B;
    background-color: white;
    border-radius: 14px;
    padding-left: 10px;
    color: #FD4E8B;
    font-family: var(--fontTitulo1);
}

.input:hover{
    filter: brightness(1.3)
}

.alterar{
    width: 150px;
    height: 35px;

    background: linear-gradient(90.27deg, rgb(253, 78, 139) 0.71%, #FF7F5E 99.87%, rgb(232, 135, 193));
    background-size: 300% 300%;
    animation: colors 1s ease infinite;
     
    border: 0px;
    border-radius: 15px; 
    color: white;

    transition: filter 300ms;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.alterar:hover{
    filter: brightness(1.3)
}

.mensagemSucesso{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.5);
    font-family: var(--fontTitulo1);
    color: aliceblue;
    border-radius: 10px;
}