* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --fontTitulo1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --fontTitulo2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

